/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 3;
  padding-left: 6%;
  padding-right: 2%;
}

.about .content {
    width:100%;
   margin-top: -25px;
  }
  .about-img img{
    width:80%;
    height:70%;
  }
  .about .row{
    display:flex;flex-direction:row;
  }
  .about .content h2 {
    font-weight: 700;
    font-size: 24px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about .content .r {
    margin-left: 50px;
   
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--accent-color);
    line-height: 0;
  }
